<header class="header">
  <h2><a href="https://github.com/<%= @repo.name_with_owner %>"><%= @repo.name_with_owner %></a><small><%= @repo.sha %></small></h2>
</header>

<% if @repo.gemfile? %>
  <%= render "lockfiles/show" %>
<% else %>
  <div class="invalid"></div>
  <div class="no-gemfile">No Gemfile found</div>
<% end %>
