header.main {
  height: 50px;
  background-color: rgba(121,88,159, 0.2);
  margin-bottom: 20px;
  h1 {
    height: 50px;
    line-height: 50px;
    font-size: 3rem;
    color: #9b4dca;
    display: inline-block;
  }
  .logo {
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #9b4dca;
    mask: image-url("logo.svg") no-repeat;
    -webkit-mask: image-url("logo.svg") no-repeat;
    mask-size: 40px;
    -webkit-mask-size: 40px;
    mask-position: center;
    -webkit-mask-position: center;
  }
}

.header {
  color: #534A93;
  padding-bottom: 15px;
  h2 {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 30px;
    small {
      color: #CBCBD2;
      margin-left: 10px;
    }
  }
  a {
    color: #534A93;
    text-decoration: none;
  }
}

.block {
  background-color: rgba(231,231,236, 0.1);
  border-left: 2px solid rgba(231,231,236, 0.8);
  padding: 10px;
  margin-bottom: 10px;
  header {
    color: #9b4dca;
  }
  .def {
    display: inline;
    color: #9b4dca;
  }
}

.sources {
  margin-bottom: 40px;
}

#repos {
  background: white;
}

.valid {
  margin-top: 30px;
  background-color: rgba(116,192,128, 0.7);
  mask: image-url("valid.svg") no-repeat;
  -webkit-mask: image-url("valid.svg") no-repeat;
  mask-position: top;
  -webkit-mask-position: top;
  mask-size: contain;
  height: 500px;
  -webkit-mask-size: contain;
}

.invalid {
  margin-top: 30px;
  background-color: rgba(214,66,66, 0.7);
  mask: image-url("invalid.svg") no-repeat;
  -webkit-mask: image-url("invalid.svg") no-repeat;
  mask-position: top;
  -webkit-mask-position: top;
  mask-size: contain;
  height: 500px;
  -webkit-mask-size: contain;
}
.no-gemfile {
  margin-top: 30px;
  color: rgba(214,66,66, 0.7);
  font-size: 40px;
  text-align: center;
}
.delete {
  margin: 0;
}

