.repo {
  background: #9b4dca;
  color: white;
  padding: 50px;
  text-align: center;
  a {
    margin-left: 10px;
    text-decoration: underline;
    color: white;
    font-size: 30px;
  }
}

.gem {
  border-left: .3rem solid #9b4dca;
  background: #f4f5f6;
  padding: 20px;
  header {
    color: #9b4dca;
  }
  .def {
    display: inline;
    color: #9b4dca;
  }
}

